.header {
    position: fixed;
    top: 0;
    background-color: blue;
    color: aliceblue;

}

.menu {
    background-color: aqua;
}

.menu li {
    background-color: blueviolet;
}

.article {
    background-color: brown;
}

.footer {
    background-color: coral;
}