.header {
    position: fixed;
    /* pro header ficar fixo e se mexer junto com a pagina */
    display: flex;
    /* essas 3 linhas são para deixar o titulo centralizado vertical e horizontal */
    justify-content: center;
    /* essas 3 linhas são para deixar o titulo centralizado vertical e horizontal */
    align-items: center;
    /* essas 3 linhas são para deixar o titulo centralizado vertical e horizontal */
    height: 50px;
    width: 100%;
    top: 0;
    background-color: blue;
    font-size: 40px;
    color: aliceblue;

}

.menu {
    background-color: rgb(213, 161, 255);
    margin-top: 50px;
    height: 100px;
    width: 100%;
    align-items: center;
    font-size: 30px;
}

.menu li {
    background-color: blueviolet;
    display: inline;
    margin-right: 30px;
}

.article {
    background-color: brown;
}

.footer {
    background-color: coral;
}